.sponsor-bg {
  background: url(../img/home/sponsor-bg.png) left center no-repeat;
  background-size: cover;
}
.sponsor-wrapper {
  text-align: center;
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
}
.sponsor-wrapper--small {
  max-width: 750px;
}
.sponsor-title {
  text-transform: uppercase;
  font-size: 24px;
}
.sponsor-single {
  border: 5px solid var(--white);
  text-align: center;
  padding: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 140px;
  position: relative;
}
.sponsor-single img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sponsor-single:hover {
  box-shadow: 0px 5px 20px 0px rgba(10, 9, 13, 0.15);
}
.sponsor-wrapper--small .sponsor-single {
  height: 120px;
}
